torch==2.4.1+cu121 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.19.1+cu121 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.4.1+cu121 --index-url https://download.pytorch.org/whl/cu121
xformers==0.0.27.post2
